<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>

    <th>Quality</th>
    <th>Reliability</th>
    <th>Job_knowledge</th>
    <th>Attendence</th>
    <th>Commitment</th>
    <th>Creativity</th>
    <th>Adherence to policy</th>
    <th>Lead</th>
    <th>Improvement needed</th>
    <th>Accomplishments</th>

  </tr>
  </thead>

  <tbody>


  <tr>

    <td><%= @question.quality %>
      <%= @question.reliability %></td>

    <td>  <%= @question.job_knowledge %></td>
    <td><%= @question.attendence %><br></td>
    <td> <%= @question.commitment %></td>
    <td><%= @question.creativity %></td>
    <td><%= @question.adherence_to_policy %></td>
    <td><%= @question.lead %></td>
    <td><%= @question.improvement_needed %></td>
    <td><%= @question.accomplishments %></td>






  </tr>

  </tbody>
</table>