<table class="table table-striped table-borderless table-hover">
  <thead class="thead-dark">
  <tr>

    <th>Name</th>
    <th>Cnic</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Role</th>
    <th>Joining Date</th>
    <th>Manager Assigned</th>
    <th>Form Status</th>
    <th>Give Remark</th>
    <th></th>

  </tr>
  </thead>

  <tbody>

  <% @users.each do |employee| %>


    <tr>
      <% if employee.role == "Employee" %>

        <td><%= employee.first_name %>
          <%= employee.last_name %>
        </td>

        <td>  <%= employee.cnic %></td>
        <td><%= employee.email %><br></td>
        <td> <%= employee.phone_number %></td>
        <td><%= employee.role %></td>
        <td><%= employee.joining_date %></td>

        <% managers = User.find(employee.assigned_manager) %>
        <td><%= managers.first_name %> <%= managers.last_name %></td>

        <% if employee.survey_forms.any? %>
          <% @abc = employee.survey_forms[0].id %>
          <% @name = employee %>
          <td><%= link_to 'Submitted Form', survey_form_path(id: @abc) %></td>

        <% else %>
          <td><%= link_to 'Form Not Submiited' %></td>


        <% end %>



        <% if employee.survey_forms.count >= 3 %>
          <td><%= link_to 'Remarks Submitted' %></td>


        <% elsif employee.survey_forms.any? && employee.survey_forms.count > 1 %> %>
          <% @abc = employee.survey_forms[1].id %>
          <% @name = employee %>
          <td><%= link_to 'Give Remark', new_survey_path(id: @abc) %></td>
        <% else %>
          <td><%= link_to 'Form Not Submiited' %></td>


        <% end %>
        <td><%= link_to "Edit Employee", edit_home_path(employee.id) %></td>


      <% end %>


    </tr>
  <% end %>

  </tbody>

</table>