<style>
    .text {
        font-family: raleway;
        font-size: 40px;
        position: absolute center;
        text-align: center;
        padding-left: 0%;
        color: #000;
        margin-top: 43px;
    }
    .text1 {
        font-family: raleway;
        font-size: 21px;
        text-align: center;
        margin-top: -20px;
        color: #000;
    }
    .image {
        text-align: center;
        width: 200px;
        /* Container's dimensions */

        height: 200px;
        -webkit-border-radius: 75%;
        -moz-border-radius: 75%;
        box-shadow: 0 0 0 1px #eee;
        background: url("https://bootdey.com/img/Content/avatar/avatar7.png") center center no-repeat;
        background-size: cover;
        margin: auto;
        margin-top: 20px;
        margin-bottom: -30px;
        align-content: center;
    }
    .trick {
        display: inline-block;
        vertical-align: middle;
        height: 150px;
    }
    .image:hover {
        box-shadow: 0px 5px 20px .9px #3F3F3F;
    }
    .image:hover {
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
        -webkit-transition: 1.6s ease-in-out;
        transition: 1.6s ease-in-out;
    }
    .trick:hover img {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    #overlay {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        padding: 0 0 0 0;
        opacity: 1.0;
        -webkit-transition: opacity 2.25s ease;
        -moz-transition: opacity 10.25s ease;
    }
    #box:hover #overlay {
        opacity: 1;
    }
</style>

<div class="box">
  <div id="overlay">
    <div class="image">
      <div class="trick">
      </div>
    </div>
    <ul class="text"><%= current_user.first_name %> <%= current_user.last_name %></ul>
    <div class="text1"><%= current_user.role %></div>
  </div>
  <div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Managers</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Employees</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%= render 'home/roles/manager_table' %>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <%= render 'home/roles/employee_table' %>
      </div>
    </div>

























    <%= link_to 'Create Manager', sign_up_path, class: 'btn btn-outline-info' %>


  </div>

  <br>
</div>




